<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ysq.chuang_qian.mapper.CourseMapper" >
  <resultMap id="BaseResultMap" type="com.ysq.chuang_qian.entity.Course" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="course_id" property="courseId" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="course" property="course" jdbcType="LONGVARCHAR" />
  </resultMap>
</mapper>